/* General Styles */

@page { size: auto;  margin: 0mm; }

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(19,48,78);  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #2C5364, #203A43, #0F2027); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -webkit-linear-gradient(to bottom right, rgb(38,97,156), rgba(19,48,78,1), rgb(7,19,31));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, rgb(38,97,156), rgba(19,48,78,1), rgb(7,19,31)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* Added for print */
    margin: 5% 204px;
}

h1 {
    letter-spacing: .1in;
    font-size: .4in;
}

h2 {
    letter-spacing: .08in;
    font-size: .18in;
    font-weight: 500;
}

h3 {
    letter-spacing: .08in;
    font-size: .14in;
    font-weight: bold;
    color: white;
    margin-bottom: -.1in;
}

h4 {
    font-size: .12in;
    font-weight: bold;
}

p, span{
    font-size: .125in;
    line-height: .2in;
}

.fade-text {
    color: rgba(0, 0, 0, 0.4)
}

i {
    font-size: .15in;
    color: black;
    margin-right: .05in;
    margin-bottom: .04in;
    margin-top: .04in;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4)
}


/* Document Styles */

.doc {
    /* margin: .8in auto; */
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    width: 8.5in;
    height: 11in;
    background-color: white;
    position: relative;
}

.sidebar {
    margin-left: 0;
    width: 3in;
    height: 11in;
    background-color: black;
}

.contact-bar {
    width: 8.5in;
    height: .65in;
    margin-top: 2.4in;
    background-color: rgb(238, 238, 232);
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 .4in;
}

.profile-wrapper {
    margin-left: 0.55in;
    margin-top: 0.25in;
    width: 1.9in;
    height: 1.9in;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    border: 1.5px solid white;
}

.profile-photo {
    width: 2in;
    height: auto;
    margin-top: -.12in;
    margin-left: -.1in;
}

.name {
    margin-top: .7in;
    margin-left: 3.4in;
    position: absolute;
}

.title {
    margin-left: .4in;
}

.title-bar {
    width: 5in;
    height: .5in;
    margin-top: 1.15in;
    margin-left: 3.4in;
    background-color: rgb(238, 238, 232);
    position: absolute;
}

/* Side Bar */

.about-me, .technical-skills, .soft-skills {
    width: 3in;
    height: 2.5in;
    margin-left: 0;
    position: absolute;
    color: rgb(238, 238, 232, 1);
    padding: 0 .2in;
}

.about-me {
    margin-top: 3.25in;
}

.technical-skills {
    height: 3.25in;
    margin-top: 6in;
}

.technical-skills h3 {
    margin-bottom: 0;
}

.technical-skills p {
    line-height: .112in;
}

.skills-wrapper {
    display: flex;
    justify-content: space-between;
}

.bars {
    width: 1in;
    height: 3in;
    float: right;
}

.soft-skills {
    margin-top: -1.55in;
    height: 1.5in;
}

/* Main Body */

.main-wrapper {
    border-left: 1px solid black;
    margin-top: -7.75in;
    margin-left: 3.35in;
    width: 5.05in;
    height: 7.5in;
    position: absolute;
}

.projects, .education, .experience {
    width: 4.75in;
    height: auto;
    margin-left: .3in;
    margin-bottom: .4in;
    padding: 0;
}

.experience {
    padding-right: .25in;
}


.main-wrapper h4 {
    color: rgba(0, 0, 0, 0.6)
}

.main-wrapper h3 {
    color: black;
    margin-bottom: -.15in;
}

.line {
    display: flex;
    justify-content: start;
    height: .4in;
}

.line span {
    margin-top: .0245in;
    margin-left: .1in;
}

.line h4, .line p {
    margin-left: .05in;
}

.line h4 {
    margin-top: .2in;
    margin-bottom: -.15in;
}

.experience .line {
    height: auto;
    padding-bottom: 0;
}

.experience h6 {
    width: 40%;
}

.exp-text {
    line-height: .12in;
    margin-top: -0.08in;
    margin-bottom: 0.15in;
}

.exp-text:last-child {
     margin-bottom: -.05in !important;
}

.footer {
    position: absolute;
    margin-left: .2in;
    margin-top: -.5in;
    color: rgba(255, 255, 255, 0.6);
    font-style: italic;
    font-size: .12in;
}