
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

img {
    object-fit: cover;
}

.logo {
  height: 80px;
}

.headerText {
  margin-top: 5%;
  padding-bottom: 2%;
}

.bodyText {
  font-size: 1.10rem;
}

::-webkit-scrollbar { 
  display: none; 
}

.nav-icon {
  margin-right: 4%;
  margin-left: -3%;
  padding-top: 2%;
}

.nav-icon:hover {
  color: #0066ff;
}

.roundButton {
  color: #0066ff;
  border-color: #0066ff;
  border: 2px solid #0066ff;
  border-radius: 25px;
}

.section {
  height: 100vh;
}

#home {
  background-color: white;
  text-align: center;
}

.title {
  font-family: 'Lato', sans-serif;
  font-size: 4rem;
}

.profilePic {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 200px;
  height: auto;
  border-radius: 50%;
}

#about, #testimonials, #clientWork{
  background-color: #0066ff;
  color: white;
  padding: 5% 20% 18% 20%;
}

.skillCards {
  margin-top: -10%;
}

.card {
  padding-top: 5%;
  padding-bottom: 8%;
  border-radius: 5%;
  box-shadow: 1px 1px .5px lightgrey;
}

.card-img-top {
  color: #0066ff;
}

.card-body {
  margin-top: 5%;
}

.card-title {
  font-weight: bold;
  padding-bottom: 5%;
}

.skillCardSub {
  color: #0066ff;
  padding-top: 10%;
}


a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.headerDiv {
  position: absolute;
  left: 5%;
  top: 25%;
  height: 300px;
}


.portfolioBtn {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#portfolio {
  margin-top: 12%;
  background-color: white;
  position: relative;
  height: 100%;
  text-align: center;
  padding-bottom: 10%;
}

#clientWork {
  height: auto;
  padding-bottom: 0;
}

.clientCard {
  margin-bottom: -30%;
  margin-top: 20%;
  border-radius: 25px;
  color: black;
}

.clientLogo {
  width: 12rem;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 764px) {
  .clientCard {
      margin-top: 40%;
      margin-bottom: -20%;
  }
  .clientPara {
    margin-bottom: -20%
  }
}

#testimonials {
  background-color: white;
  color: black;
  border-top: 1px solid lightgray;
  height: 55rem;
  padding-top: 20%;
  margin-bottom: 8rem;
}

.testimonialPhoto {
  border: 2px solid #0066ff;
}

#footer {
  background-color: #0066ff;
  height: 42rem;
}

.projectBar {
  position: relative;
  top: -10%;
  width: auto;
  margin-left: 1.75rem;
  margin-right: 1.75rem;
  margin-top: 2rem;
  background-color: #293347;
  border-radius: 15px;
  padding: 3% 2%;
  color: white;
  height: auto;
}

.projectBar .btn-outline-primary {
  color: white;
}

.projectBarItem {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.footerBody {
  margin-left: auto;
  margin-right: auto;
  color: #b3d1ff;
}

.footerItem {
  margin-bottom: 2.5rem;
}

.circleIcon {
  border-radius: 50%;
  border: .12rem solid #b3d1ff;
  color: white;
  font-size: 1.5rem;
  display: inline-block;
  width: 48px;
  margin: 0rem .25rem;
}

.circleIcon:hover {
  color: #0066ff;
  background-color:white;
  border-color: white;
}

.handcrafted {
  margin-top: 2.5rem;
  color: #b3d1ff;
  margin-bottom: .5rem;
}



    /* ============================================= */


    /* Button Animation */

    /* Float Shadow */
.hvr-float-shadow {
  vertical-align: middle;
  left: 45%;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* Scroll To Top Button */
#scrollBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 1; /* Make sure it does not overlap */
  color: rgb(0, 102, 255, 0.5); /* Set a background color */
  cursor: pointer; /* Add a mouse pointer on hover */
  background-color: white;
  border: .5px solid white;
  border-radius: 25px;
}

#scrollBtn:hover {
  color: rgb(0, 102, 255);
  transition: color .5s ease-in
}