body {
    background: url("../images/background.png");
    background-color: gray;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

h2, h4 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #247fe7;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-bottom: 0;
}

p {
    margin: 20px 0px 0px 0px;
    padding: 0;
}

img {
    display: inline-block;
}


/* Navigation */

.navbar-nav {
    float: right;
    margin-right: 225px;
}

.navbar {
    height: 80px;
    border-bottom: solid 1px #cccccc;
}

.navbar-brand.custom {
    position: absolute;
    margin-left: 75px;
    text-decoration: none;
    color: white;
    background-color: #247fe7;
    padding: 5px 15px 5px 15px;
    top:26%;
}

.navbar-brand a{
    text-decoration: none;
    color: white;
}


/* Main Page Content */

.contentH1 {
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

.maincontent {
    height: auto;
    padding: 20px;
    margin: 40px 20px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.profilePhoto {
    float: left;
    height: 150px;
    width: 150px;
    margin: 20px;
}


/* Sidebar */

.sidebar {
    border: 1px solid #dddddd;
    margin: 40px 60px;
    padding: 20px 40px 20px 40px;
    width: auto;
    height: 170px;
    background-color: white;
}

.socialIcon {
    height: 50px;
    width: 50px;
    margin-left: 8px;
    margin-top: 15px;
    display: inline-block;
}

.socialIcon:hover {
    margin-top: 5px;
}


/* Portfolio Page */

.portfolioContent {
    height: autopx;
    padding: 20px;
    margin: 40px 20px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.portfolio_thumb {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 25px;
    box-sizing: border-box;
}

.portfolio_link {
    position: relative;
    display: inline-block;
}

.thumb_banner {
    position: absolute;
    color: white;
    background-color: rgba(36,127,321,0.8);
    padding: 20px 10px;
    width: 250px;
    margin: 25px;
    top: 50%;
    box-sizing: border-box;
    text-align: center;
}